.drop-mid {
  width: 250px;
  background: #fff;
  left: -75px;
  box-shadow: 0 0 5px 1px #c6c6c6;
  padding: 10px;
  border-radius: 10px;
}

.dropdown {
  position: relative;
}

.active-tab {
  color: #ff6347;
  border-bottom: 2px solid #ff6347;
}

.active-service {
  color: #ff6347;
  /* border-bottom: 2px solid #ff6347;  */
}

.nav-item:hover {
  color: red;
}


.nav-item-service:hover {
    color: rgb(211, 49, 49);
  }



  /* BlogTable.css */
.description-cell {
  max-width: 200px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }


 /* app.jsx */
 .app-header{
  position: sticky;
  top: 0;
  background-color: #fff;
 }

 .app{
  overflow: hidden;
 }

 /* header.jsx */

 /* body.jsx */
 .home-banner {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .home-banner {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .home-banner {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1025px) {
  .home-banner {
    width: 100%;
    height: auto;
  }
}